<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="es.libresoft.openhealth.android.test.client"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/openhealth" android:label="@string/app_name">
        <activity android:name=".ManagerTestClient"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AgentView" android:screenOrientation="portrait"/>
        <activity android:name=".AgentAttributeView" android:screenOrientation="portrait"/>
        <activity android:name=".AgentMeasureView" android:screenOrientation="portrait"/>
        <activity android:name=".AgentPMStoreView" android:screenOrientation="portrait"/>
        <activity android:name=".AgentPMStoreSegmentView" android:screenOrientation="portrait"/>
    </application>
    <uses-sdk android:minSdkVersion="8" />
</manifest> 